{% extends 'Account/base.html' %}
{% block title %}Change Username{% endblock %}
{% block content %}
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-dismissible fade show alert-danger" role="alert">
                {{ error|escape }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endfor %}
{% endif %}
<div class="shadow-lg p-4 mb-5 bg-body rounded">
    <form method="post" action=".">
        {% csrf_token %}
        <center><h1>Change Username</h1></center><br/>
        <div class="form-floating mb-3">
            <input required name='username' type="username" class="form-control" id="floatingInput" placeholder="Username" value="{{ user }}">
            <label for="floatingInput">Username</label>
            <ul>
                <li>150 characters or fewer. Letters, digits and @/./+/-/_ only</li>
                <li>Can not be same with other user</li>
            </ul>

        </div>
        <button id="submit" class='btn btn-success container-fluid' type='submit'>Change</button>
    </form>
</div>
{% endblock %}