{% extends 'Account/base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="shadow-lg p-4 mb-5 bg-body rounded">
    <form method="post" action=".">
        {% csrf_token %}
        <center><h1>Login</h1></center><br/>
        <div class="form-floating mb-3">
            <input required name='username' type="username" class="form-control" id="floatingInput" placeholder="Username">
            <label for="floatingInput">Username</label>
        </div>
        <div class="form-floating">
            <input required name='password' type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div><br/>
        <div class="checkbox mb-3">
            <label>
              <input type="checkbox" onclick="showPassword();" value="show-password text-light"> Show Password
            </label>
        </div>
        <p>Don't have an account? <a href="/signup/">Create one!</a></p>
        <button id="submit" class='btn btn-success container-fluid' type='submit'>Sign in</button>
    </form>
</div>
{% endblock %}
{% block script %}
<script>
    function showPassword(){
        var p1 = document.getElementById('floatingPassword');
        if (p1.type === 'password'){
            p1.type = 'text';
        }else{
            p1.type = 'password';
        }
    }
</script>
{% endblock %}